@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$font-family: "Roboto", sans-serif;
$font-size: 14px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font-family;
  font-size: $font-size;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 40px;
  background-color: azure;
  border-radius: 5px;

  .title {
    text-transform: uppercase;
    text-decoration: underline;
  }

  .logo {
    width: 500px;
    border-radius: 5px;
  }
}

